footer {
  background-color: rgb(24, 24, 37);
}
.footer {
  display: flex;
  padding: 4rem 0 0;
  justify-content: space-around;
  height: 10vh;
}
.footer-first{
  float: left;
  width: auto;
  margin-left: 10rem;
}
.footer-second{
  float:left;
  width:100%;
}
.footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer ul li{
  margin: 0 4.5rem;
}
.footer img {
  width: 1.9vw;
}
.footer a {
  display: flex;
  color: white;
  height: 21px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-third {
  color: grey;
  text-align: center;
  padding: 1.5rem 0 1rem 0;
}