.fourthSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.fourthSection .box {
  background: white;
  width: 73vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.fourthSection .vertical {
  height: 93px;
  width: 1px;
  background: white;
  margin: 0 9vw;
}
.logo {
  opacity: 0;
  transform: translate(-100%);
  transition: all 5s;
}
.logo:nth-child(1) {
  transition-delay: 1000ms;
}
.logo:nth-child(2) {
  transition-delay: 2000ms;
}
.logo:nth-child(3) {
  transition-delay: 3000ms;
}
.logo:nth-child(4) {
  transition-delay: 4000ms;
}
.show {
  opacity: 1;
  transform: translate(0);
}
.image-top {
  width: 30px;
  position: relative;
  top: -32px;
  left: -9px;
}
.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 18px;
}
.vertical-desc {
  position: relative;
  top: 90px;
  width: 180px;
  color: grey;
  font-size: 13px;
}
