.fourthSection {
  max-width: 80vw;
  margin: auto;
  height: 90vh;
}
.fourthSection .box {
  background: white;
  width: 73vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.fourthSection .vertical {
  height: 6rem;
  width: 1px;
  background: white;
  margin: 0 9vw;
}
.logo {
  opacity: 0;
  transform: translate(-100%);
  transition: all 4s;
}
.logo:nth-child(1) {
  transition-delay: 1000ms;
}
.logo:nth-child(2) {
  transition-delay: 2000ms;
}
.logo:nth-child(3) {
  transition-delay: 3000ms;
}
.logo:nth-child(4) {
  transition-delay: 4000ms;
}
.show {
  opacity: 1;
  transform: translate(0);
}
.image-top {
  width: 30px;
  position: relative;
  top: -2rem;
  left: -1rem;
}
.vertical-title {
  position: relative;
  top: 4rem;
  width: 9rem;
  font-size: 1.1rem;
}
.vertical-desc {
  position: relative;
  top: 5rem;
  width: 11.2rem;
  color: grey;
  font-size: 0.8125rem;
}
