@media (prefers-reduced-motion) {
  .logo {
    transition: none;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
  main hr {
    margin: 40px;
  }
  nav {
    flex-direction: column;
    height: 12vh;
  }
  .firstSection {
    flex-direction: column-reverse;
  }
  .firstSection > div {
    width: 70%;
  }
  .rightSection img {
    width: 100%;
    margin-bottom: 3rem;
  }
  .buttons {
    width: 50vw;
  }
  .secondSection {
    height: 25vh;
  }
  .project-container {
    flex-direction: column;
  }
  .img-wrapper {
    width: unset;
  }
  .app-info {
    width: unset;
  }
  .fourthSection {
    height: 135vh;
  }
  .box {
    width: 70vw;
    flex-direction: column;
  }
  .fourthSection .vertical {
    height: unset;
  }
  .vertical-title {
    left: 40px;
    top: 3rem;
  }
  .vertical-desc {
    left: 40px;
    top: 4rem;
  }
  .image-top {
    top: 6rem;
    left: -3.5rem;
  }
  .footer {
    height: 6vh;
  }
  .footer-first {
    margin-left: 5rem;
  }
  .footer ul li {
    margin: 0 2rem;
  }
  .footer img {
    width: 3vw;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 70%;
  }
  .secondSection {
    height: 30vh;
  }
  .thirdSection {
    height: 110vh;
  }
  .fourthSection {
    height: 110vh;
  }
  .footer ul li {
    margin: 0 1rem;
  }
  .footer-first {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 70%;
  }
  .secondSection {
    height: 45vh;
  }
  .thirdSection {
    height: 140vh;
  }
  .fourthSection {
    height: 130vh;
  }
}
